* {
    margin: 0;
    padding: 0;
}

.row h2 {
    margin-top: 30px;
    column-span: all;
    text-align: center;
    margin-bottom: 36.5px;
    font-weight: bolder;
    color: white;
}

/* ------ navbar ------ */

.navbar {
    background-color: rgb(18, 56, 171);
    display: flex;
}

.navbar-brand {
    font-family: 'Carter One', cursive;
    letter-spacing: 1px;
    font-size:29.5px;
}

.navbar-brand h4 {
    color: rgb(255, 163, 3);
}

.container-fluid {
    font-family: 'Montserrat Alternates', sans-serif;
}

.nav-item {
    justify-content: end;
    float: right;
}

/* ------ History ------ */

.col p {
    text-align: justify;
    font-size: 18px;
    text-indent: 30px;
    line-height: 24px;
    column-gap: 40px;
}

.history {
    margin-bottom: 18.5px;
}

/* ------ Products ------ */

.products-item ul{
    margin-top: 22px;
    margin-bottom: 35px;
}

.products-item ul li {
    font-size: 17px;
}

.products {
    background-color: black;
}

.products ul {
   
    text-align: left;
}

/* ------ support ------*/

footer ul{
    list-style: none;
}

.support {
    background-color: black;
}

.policy {
    color: rgb(255, 163, 3);
}

.copyright h5 {
    color: rgb(255, 163, 3);
    background-color: rgb(18, 56, 171);
    
}
.copyright a {
    color: rgb(255, 163, 3);
    font-family: 'Carter One', cursive;

}